{% load static %}

<header id="tt-header" class="tt-header-fixed">
    <div class="tt-header-inner">
        <div class="tt-header-col">
            <div class="tt-logo">
                <a href="index.html">
                    <img src="{% static 'images/logo.png' %}" class="tt-logo-light magnetic-item" alt="Logo">
                    <img src="{% static 'images/logo.png' %}" class="tt-logo-dark magnetic-item" alt="Logo">
                </a>
            </div>
        </div>

    </div> <!-- /.header-inner -->
</header>